#cards {
    margin-top: 64px;
    margin-bottom: 30px;
}

#card-img {
    display: flex;
    justify-content: center;
}

#table-centered {
    display: flex;
    justify-content: center;
}

.game-card mat-card-header {
    justify-content: center;
}

.game-card mat-card-actions {
    justify-content: center;
}

#username {
    display: flex;
    align-self: right;
}

.fill-remaining-space {
    flex: 1 1 auto;
}