#Client
client/src/dist
client/tmp
client/app/**/*.js
client/app/**/*.js.map

client/node_modules

client/coverage/*

client/.DS_Store

#Server
/server/.nyc_output

/server/out

/server/node_modules

